build
install
.vscode/*
docs/html
docs/latex
appimagetool-x86_64.AppImage
source/desk_up_window_backend/window_backends/desk_up_x11
setWindowsPackage.sh
.qtcreator
installation/General-structure.png
build_inno